html,
body {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3 {
  font-family: 'Roboto Condensed', sans-serif;
}
h1.header {
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}
.menu-btn-container {
  width: 100%;
  text-align: center;
}
.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: block;
  z-index: 1;
}
.menu-raw {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
}
.menu-raw .menu-raw-input-dialog {
  width: 500px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -200px;
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
}
.menu-raw .menu-raw-input-dialog h2 {
  margin-top: 0;
}
.menu-raw .menu-raw-input-dialog .menu-raw-input-container {
  width: 100%;
  height: 75%;
  box-sizing: border-box;
}
.menu-raw .menu-raw-input-dialog .menu-raw-input-container textarea {
  width: 100%;
  height: 100%;
  outline: 0;
  resize: none;
}
.menu-raw .menu-raw-input-dialog .btn.btn-confirm {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.menu-raw .menu-raw-input-dialog .btn.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  opacity: 0.7;
  font-size: 20px;
  padding: 0;
}
.menu-raw .menu-raw-input-dialog .btn.btn-close:hover {
  opacity: 1;
}
.menu-list {
  position: absolute;
  left: 50%;
  top: 120px;
  margin-left: -130px;
}
.menu-list .menu-item {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  cursor: pointer;
  padding: 2px;
  opacity: 0.8;
}
.menu-list .menu-item:hover {
  opacity: 1;
}
.menu-list .menu-item .count {
  display: inline-block;
  background: #5bc0de;
  color: #fff;
  font-weight: bold;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-right: 15px;
  border-radius: 5px;
}
.menu-list .menu-item.hasValue {
  color: #c9302c;
}
.menu-list .menu-item.hasValue .count {
  background: #c9302c;
}
.menu-list .menu-item .is-you {
  display: inline-block !important;
  color: #000;
}
.menu-list .menu-item .is-you.ng-show {
  opacity: 1;
}
.menu-list .menu-item .is-you.ng-hide {
  opacity: 0;
}
.menu-list .menu-item .users-container {
  display: inline-block;
}
.menu-list .menu-item .users-container .user {
  display: inline-block;
}
.menu-list .menu-item .users-container .user img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 5px;
}
.user-list {
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
}
.user-list .user-item {
  margin-top: 10px;
}
.user-list .user-item.checked {
  display: block !important;
  opacity: 0.4;
}
.user-list .user-item .line1 {
  font-size: 17px;
  color: #000;
  white-space: nowrap;
}
.user-list .user-item .line1 img {
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}
.user-list .user-item .line2 {
  font-size: 12px;
  color: #aaa;
}
.login-first {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  padding: 20px;
}
.login-first .fb-button-container {
  display: inline-block;
}
